<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <h1>REVIEWS HERE WE GO</h1>
    @foreach(var x in @ViewBag.alls){
        <hr>
        <h2>Review: @x.YName || Rating: @x.Rating</h2>
        <h3>Reviewer: @x.XName, @x.Datevisit</h3>
        <p>@x.Review</p>
    }
</body>
</html>