<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <h1>@ViewBag.trail.Name</h1>
    <h2>Description</h2>
    <p>@ViewBag.trail.Description</p>
    <h2>Trail Length</h2>
    <p>@ViewBag.trail.Length Miles</p>
    <h2>Elevation Change</h2>
    <p>@ViewBag.trail.Elevation feet</p>
    <h2>Latitude</h2>
    <p>@ViewBag.trail.Latitude WEST</p>
    <h2>Longitude</h2>
    <p>@ViewBag.trail.Longitude NORTH</p>
</body>
</html>